* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: rgb(90, 90, 131);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header div {
  background-color: rgb(96, 165, 194);
  width: 500px;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  margin-left: 240px;
  margin-top: 30px;
  color: white;
}
header a {
  color: white;
}

header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
.background-container {
  width: 100%;

  height: 200px;
  flex: wrap;
  background-color: lightblue;
  position: relative;
}

.cool-subtitle {
  height: 100px;
  width: 200px;
  border: solid 3px black;
  flex: wrap;
  align-items: flex-end;
}

.about-me-container {
  height: 300px;
  border: solid 2px black;
  flex: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.heading-primary {
  font-size: 30px;
}
.info-me1 {
  width: 1100px;
  position: absolute;
  left: 500px;
}
.text1 {
  padding-bottom: 20px;
}

.work-container {
  width: 100%;
  border: solid black 2px;
  height: 800px;
  position: relative;
}
.work-container h2 {
  position: absolute;
  top: 20px;
  left: 520px;
}
.surf-report {
  border: solid black 2px;
  width: 900px;
  position: absolute;
  left: 700px;
  height: 400px;
}

.led-wall {
  border: solid black 2px;
  position: absolute;
  bottom: 200px;
  left: 699px;
  height: 150px;
  width: 440px;
}
.pastel-puzzels {
  border: solid black 2px;
  position: absolute;
  bottom: 200px;
  left: 1150px;
  height: 150px;
  width: 450px;
}

.calculator {
  border: solid black 2px;
  position: absolute;
  bottom: 43px;
  left: 699px;
  height: 150px;
  width: 440px;
}
.run-buddy {
  border: solid black 2px;
  position: absolute;
  bottom: 43px;
  left: 1150px;
  height: 150px;
  width: 450px;
}
footer ul li {
  display: inline;
}

footer ul li a {
  padding: 20px;
}
